@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animateFadeInUp {
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animateScaleUp {
  animation: scaleUp 0.8s ease forwards;
}
